<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a asp-action="CreateRole" class="btn btn-primary w-100">Create Role</a>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row mt-2">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a asp-action="AssignRoleToUser" class="btn btn-primary  w-100">Update User Role</a>
    </div>
    <div class="col-md-4"></div>
</div>